/*--------------------- General styles start ---------------------*/
body {
	padding: 0;
	margin: 0;
	background: #fff url('/img/bg.jpg') center top;
	color: #575757;
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
}
input, select, textarea {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border:0;
}
body a {color: #476582;}
body a:hover{text-decoration:none }
* {box-sizing:border-box}
img {border: 0px;}
/*--------------------- General styles end ---------------------*/

/*--------------------- All content start ---------------------*/
.wrap{
	position: relative;
}
.content {
	width: 1205px;
	margin: auto;
	overflow: hidden;
	background: url('/img/border_top.jpg') top center no-repeat,
				url('/img/border_bottom.jpg') bottom center no-repeat,
				url('/img/border.png') center repeat-y #F3F1EB;
	padding: 32px 31px;
    border-radius: 10px;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,1);
}
/*--------------------- All content end ---------------------*/

/*--------------------- Header start ---------------------*/
.head {
	background: url('/img/top_bg.png') top center no-repeat;
	height: 294px;
	overflow: hidden;
    position: relative;
	min-width: 1208px;
}
.head_inner{
	width: 1208px;
	margin: auto;
	position: relative;
}
.video{
	position: absolute;
	right: 175px;
	top: 15px;
}
.logo {
	margin-left: 385px;
	margin-top: 87px;
	float: left;
}
.subs{
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
	color: #ead09a;
	font-size: 24px;
	font-weight: 700;
	line-height: 20px;
	float: left;
	margin-left: 335px;
	margin-top: 6px;
}
.menu{
	height: 64px;
    background: url('/img/menu_bg.jpg') repeat-x;
	box-shadow: 0px 4px 7px -2px #A5A39D;
	overflow: hidden;
}
.menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
}
.menu li{
    float: left;   
    height: 64px;
}
.menu li:last-child a{
	color: #224c00;	
}
.menu a{
    display: block;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.18);
    color: #2d241d;
    font-size: 16px;
    font-weight: 700;
    padding: 0 23px;
    margin-bottom: 30px;
    line-height: 47px;
}
.menu a:hover{
    background: rgba(255,255,255,0.3);
    box-shadow: inset 0 0 5px 0px #F9D65E, 
				0px 0px 17px 0px rgba(156,77,12,1), 
				inset 0px 16px 8px -11px rgba(253,250,175,1),
				inset 0px -16px 8px -11px rgba(255,255,229,1);
}
.menu a:active{
 
}
.search{
    float: right;
    position: relative;
    margin-right: 28px;
    margin-top: 11px;
}
.search input[type="text"]{
    width: 256px;
    height: 27px;
    background-color: #fff6e6;
    border-radius: 2px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33), 
				0 0 4px rgba(255, 255, 255, 0.75);
    padding-left: 30px;
    background: url('/img/sch_icon.png') no-repeat 8px center #fff;
    outline: none;
    color: #221f1b;
    font-style: italic;
}
::-webkit-input-placeholder {color: #221f1b;}
::-moz-placeholder          {color: #221f1b;}/* Firefox 19+ */
:-moz-placeholder           {color: #221f1b;}/* Firefox 18- */
:-ms-input-placeholder      {color: #221f1b;}
.search input[type="button"]{
    position: absolute;
    right: 0;
    top: 0;
    width: 65px;
    height: 27px;
    background-color: #739b53;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
    border-radius: 0 2px 2px 0;
    border: 0;
    cursor: pointer;
    color: white;
}
/*--------------------- Header end ---------------------*/

/*--------------------- Main content start ---------------------*/
.ads_line{
	line-height: 72px;	
	padding-left: 42px;
	padding-right: 30px;
	background: url('/img/arr.png') 22px 29px no-repeat 
}
.ads_line>a{
	color: #4b6f30;
	font-size: 22px;
}
.ads_line span{
	float: right;	
}
.ads_line span a{
	color: #999;
	font-size: 12px;
	text-decoration: none;
}
.ads_line span a:hover{
	text-decoration: underline;	
}
.leftcol,.rightcol{
	display: table-cell;
	vertical-align: top;
	width: 255px;
}
.rightcol>*{
	float: right;
}
.maincol {
	vertical-align: top;
	display: table-cell;
	position: relative;
	background: #DEDBD4;
	padding: 13px 0 84px 0
}
.maincol:after{
	content: '';
	position: absolute;
	width: 30px;
	height: 100%;
	left: -30px;
	top: 0;
	background: url(/img/stroke.png) repeat-y;
	z-index: 2;
}
.maincol:before{
	content: '';
	position: absolute;
	width: 30px;
	height: 100%;
	right:-30px;
	top: 0;
	background: url(/img/stroke.png) repeat-y;
	z-index: 2;
	-webkit-transform: scale(-1,1);
	    -ms-transform: scale(-1,1);
	        transform: scale(-1,1);
}
/*--------------------- Main content end ---------------------*/


/*--------------------- Containers start ---------------------*/
.left_menu ul{
	padding: 0;
	margin: 0;
	list-style: none;	
}
.left_menu>ul>li>a{
	display: table-cell;
    vertical-align: middle;
	width: 1%;
	position: relative;
	height: 62px;	
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.13);
	color: #4a342f;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	padding-left: 70px;
	padding-right: 20px;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.17) 0%, rgba(255, 255, 255, 0.17) 100%), 
		url('/img/lmenu_bg.png') repeat-x;
	background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.17) 0%, rgba(255, 255, 255, 0.17) 100%), url('/img/lmenu_bg.png') repeat-x;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.17) 0%, rgba(255, 255, 255, 0.17) 100%), 
		url('/img/lmenu_bg.png') repeat-x;
	box-shadow: inset 0 1px 0 rgba(245, 230, 137, 0.9);
	border-bottom: 1px solid #AD9D90;
}
.left_menu>ul>li:hover>a{
	background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.17) 0%, rgba(0, 0, 0, 0.17) 100%), 
				url('/img/lmenu_bg.png') repeat-x;
	background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.17) 0%, rgba(0, 0, 0, 0.17) 100%), url('/img/lmenu_bg.png') repeat-x;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.17) 0%, rgba(0, 0, 0, 0.17) 100%), 
				url('/img/lmenu_bg.png') repeat-x;	
}
.left_menu li:hover ul{
	max-height: 500px;
	border: 1px solid #F3F1EB;
	padding: 12px 0 12px 20px;
	transition: 0.5s;
}

.left_menu span{
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
	height: 62px;
	line-height: 62px;
	text-align: center;
}
.left_menu img{
	vertical-align: middle;	
}
.left_menu li ul{
	max-height: 0;
	overflow: hidden;
	background-color: #f7f7f7;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.46);	
}
.left_menu li ul li{
	line-height: 29px;	
	padding-left: 23px;
	background: url('/img/item.png') no-repeat 0 center;
}
.left_menu li ul a{
	color: #5b833d;
	font-style: italic;
	text-decoration: none;
}
.left_menu li ul a:hover{
	text-decoration: underline;	
}
.ingredients{
	width: 242px;
	height: 300px;
	margin-top: 35px;
	background: url(/img/ingr.png) no-repeat center;	
}
.ingredients p,.cats_blog p,.channel p{
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	color: #484136;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	padding-top: 24px;
}
.ingredients form{
	width: 190px;
	margin: auto;
}
.ingredients input[type="text"]{
	width: 100%;
	height: 32px;
	background-color: #fff6e6;
	border-radius: 2px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33), 
				0 0 4px rgba(255, 255, 255, 0.75);
	padding: 0 10px;
	color: #221f1b;
	font-style: italic;
	outline: none;
}
.ingredients input[type="button"]{
	width: 100%;
	height: 37px;
	border: 0;
	background: url(/img/find_i.png) center no-repeat;
	color: white;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	padding-bottom: 5px;
	margin-top: 6px;
}
.ads{
	width: 223px;
	height: 347px;
	line-height: 330px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.19);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);	
	background: #fff;
	margin: 20px 9px;
	color: #484136;
	font-size: 13px;
}
.cats_blog{
	width: 242px;
	height: 358px;	
	background: url(/img/c_blog.png) left no-repeat;
}
.cats_blog p{
	margin: 0;	
}
.cats_blog ul{
	padding: 0;
	margin: auto;
	list-style: none;
	width: 190px;
}
.cats_blog li{
	padding-left: 30px;
	line-height: 34px;
	height: 35px;
	box-shadow: inset 0px -1px 0 #DAF4C2;
	border-bottom: 1px solid #88A172;
	position: relative;
}
.cats_blog li:last-child{
	border: 0;	
	box-shadow: none;
}
.cats_blog span{
	width: 30px;
	height: 34px;
	line-height: 34px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}
.cats_blog img{
	vertical-align: middle;
}
.cats_blog a{
	color: #484136;
	font-size: 13px;
	text-decoration: none;
}
.cats_blog a:hover{
	text-decoration: underline;	
}
.path{
	color: #45682b;
	font-size: 12px;
	font-weight: 400;
	line-height: 19px;	
	padding: 0 22px;
}
.path a{
	color: #000;
}
.content_inner{
	width: 630px;
	background: url(/img/cont_b.jpg) no-repeat 0 bottom,
				url(/img/cont_t.jpg) no-repeat 0 top, 			
				url(/img/content_bg.png) -29px top repeat-y;
	margin-top: 10px;
	padding: 45px 46px;
	
}
.slider{
	position: relative;
	width: 537px;
	height: 274px;
	border: 3px solid white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	margin: auto;
}
.slider:before,.slider:after{
	content: '';
	position: absolute;
	width: 89px;
	height: 86px;
	background: url(/img/corner.png) no-repeat;
	z-index: 5;
}
.slider:before{
	top: -40px;
	right: -28px;	
}
.slider:after{
	bottom: -40px;
	left: -28px;
	-webkit-transform: scale(-1,-1);
	    -ms-transform: scale(-1,-1);
	        transform: scale(-1,-1)
}
.slider ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.slider li{
	z-index: 2 !important;
}
.slider li:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.75);	
	-moz-box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.75);	
	-webkit-box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.75);	
} 
.slider img{
	display: block;	
}
.bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(230, 202, 147, 0.8);
    height: 52px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 
				inset 0 0 5px rgba(255, 255, 190, 0.39);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	color: #484136;
	font-size: 22px;
	font-weight: 700;
	line-height: 52px;
	text-align: center;
}
.bx-controls {
    position: absolute;
    bottom: 11px;
    width: 484px;
    left: 50%;
    margin-left: -242px;
	z-index: 6;
}
.bx-controls a{
	display: block;
	width: 20px;
	height: 31px;
	float: left;
	background: url(/img/arrs.png) no-repeat 0 0;
}
.bx-controls .bx-next{
	float: right;	
	-webkit-transform: scale(-1,1);	
	    -ms-transform: scale(-1,1);	
	        transform: scale(-1,1)
}
.bx-controls .bx-prev:hover{
	background-position: -1px -31px;
	-webkit-transform: scale(-1,1);
	    -ms-transform: scale(-1,1);
	        transform: scale(-1,1)
}
.bx-controls .bx-next:hover{
	background-position: -1px -31px;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none
}
.content_inner h1{
	position: relative;
	width: 514px;
	height: 78px;	
	background: #CFCECB;
	color: #fff;
	line-height: 78px;
	text-align: center;
	font-weight: 400;
	z-index: 6;
	margin: 20px auto;
}
.banner{
	width: 515px;
	height: 64px;
	background: #B9B7B4;
	color: #fff;
	line-height: 64px;
	text-align: center;
	margin: auto
}
.recipes{
 	overflow: hidden;	
}
.recipes p{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	color: #558233;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;	
	margin-top: 33px;
	margin-bottom: 21px;
}
.recipe{
	float: left;
	width: 50%;
	text-align: center;
	margin-bottom: 26px;
}
.recipe:nth-child(even){
	padding-right: 17px;	
}
.recipe:nth-child(odd){
	padding-left: 17px;	
}
.img_rec{
	border: 3px solid white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
	margin: auto;
	position: relative;
	display: inline-block;
	margin-bottom: 11px;
}
.img_rec:before,.img_rec:after{
	content: '';
	position: absolute;
	width: 49px;
	height: 47px;
	background: url(/img/corner_min.png) no-repeat;
}
.img_rec:before{
	top: -13px;
	right: -13px;	
}
.img_rec:after{
	bottom: -13px;
	left: -13px;
	-webkit-transform: scale(-1,-1);
	    -ms-transform: scale(-1,-1);
	        transform: scale(-1,-1)
}
.img_rec img{
	display: block;	
}
.recipe a{
	position: relative;	
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.24);
	color: #484136;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
}
.recipe a:hover{
	text-decoration: underline;	
}
.banner2{
	width: 515px;
	height: 64px;	
	margin: 50px auto;
	background: #AFABA3;
	color: #fff;
	line-height: 64px;
	text-align: center;
}
.latest_rec{
	margin: 0 23px;
	overflow: hidden;
}
.latest_rec p,.entry_comm p{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	color: #4a342f;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;	
	margin-top: 0;
}
.l_rec{
	float: left;
	width: 169px;
	margin-right: 19px;	
	padding-bottom: 50px;
}
.l_rec:nth-of-type(3n+2){
	margin-left: 19px	
}
.l_rec:nth-of-type(3n+3){
	margin: 0;
	margin-left: 19px;
}
.l_rec:nth-last-child(-n+3){
	padding: 0
}
.l_img{
	display: inline-block;
	border: 3px solid white;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.22);
	position: relative;
	margin-bottom: 3px;
}
.l_img:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.75)	;
	-webkit-box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.75);	
}
.l_img img{
	display: block;	
}
.l_rec .name{
	color: #3b301c;
	font-size: 13px;
	font-weight: 700;
	line-height: 17px;	
	text-decoration: none;
}
.l_rec .name:hover{
	text-decoration: underline;	
}
.date{
	color: rgba(59, 48, 28, 0.66);
	font-size: 12px;
	line-height: 17px;	
	margin-top: 10px;
}
.date img{
	vertical-align: middle;	
	margin-top: -2px;
	margin-right: 2px;
}
.more{
	display: block;
	width: 172px;
	height: 34px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	background: url(/img/more.png) no-repeat;
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	margin-top: 10px
}
.email{
	position: relative;	
	width: 630px;
	height: 178px;
	margin: auto;
	margin-top: 30px;
}
.e_subs{
	width: 645px;
	height: 178px;
	margin: auto;
	background: url(/img/subs.png) center;
	position: absolute;
	z-index: 3;
	top: 0;
	left: -15px;
}
.e_subs>p{
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	color: #3d5c26;
	font-size: 16px;
	font-weight: 700;	
	float: left;
	width: 180px;
	text-align: right;
	margin-left: 102px;
	margin-top: 40px;
}
.e_subs form{
	float: right;	
	margin-top: 40px;
	margin-right: 50px;
}
.e_subs input[type="text"]{
	width: 131px;
	height: 32px;
	background-color: #fff6e6;
	border-radius: 2px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33), 0 0 4px rgba(255, 255, 255, 0.75);
	border: 0;
	padding: 0 10px;
	color: #221f1b;
	font-style: italic;
}
.e_subs input[type="button"]{
	border: 0;
	width: 163px;
	height: 37px;
	background: url(/img/get_rec.png) no-repeat;
	color: white;
	font-size: 15px;
	font-weight: 700;
	position: relative;
	top: 1px;
	cursor: pointer;
	outline: none
}
.social{
	clear: both;
	float: right;
	margin-right: 42px;
	position: relative;
	top: -10px;
}
.social a{
	float: left;	
}
.foot_menu{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.foot_menu a{
	padding: 0 12px;	
	font-size: 14px;
}
.foot_menu ul{
	width: 100%;	
}
.foot_menu li:last-child{
	float: right;	
}
.news{
	width: 255px;
	height: 383px;
	position: relative;
}
.news_inner{
	position: absolute;
	top: 0;
	left: 6px;
	width: 278px;
	height: 383px;
	background: url(/img/news.png) no-repeat;
	z-index: 2;
	padding-right: 30px
}
.news_inner>p{
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	color: #3d5c26;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	margin-top: 33px;
	margin-bottom: 0px;
}
.news_inner ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 30px;
}
.news_inner li{
	padding-left: 23px;
    background: url('/img/item.png') no-repeat 0 center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #4a342f;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
}
.news_inner input[type="text"]{
	display: block;
	width: 188px;
	height: 32px;
	background-color: #fff6e6;
	border-radius: 2px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33), 0 0 4px rgba(255, 255, 255, 0.75);	
	padding: 0 10px;
	margin: auto;
	margin-top: 10px;
}
.news_inner input[type="button"]{
	display: block;
	width: 163px;
	height: 37px;
	background: url(/img/get_rec.png) no-repeat;
	border: 0;
	margin: auto;
	color: white;
	font-size: 15px;
	font-weight: 700;
	margin-top: 7px;
	cursor: pointer;
}
.n_social p{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: black;
	text-align: center;
	margin-top: 11px;
	margin-bottom: 2px;
}
.n_soc {
	width: 205px;
	margin-left: 25px;
}
.n_soc img{
	width: 46px;	
	float: left;
	margin-left: -5px;
}
.offer{
	width: 237px;
	height: 101px;
	background: url(/img/offer.png) no-repeat;
	margin-right: 7px;
}
.offer a{
	display: block;
	width: 90px;
	height: 50px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.32);
	color: white;
	font-weight: 700;
	text-decoration: none;
	float: right;
	margin-top: 25px;
	margin-right: 23px;
}
.offer a:hover{
	text-decoration: underline;	
}
.top_comm{
	margin-top: 17px;	
}
.t_comm{
	padding-left: 24px;
	overflow: hidden;
}
.comm{
	float: left;	
	text-align: center;
	margin-top: 25px;
	margin-right: 15px;
}
.comm:nth-child(3n+3){
		margin-right: 0;
}
.t_img{
	display: inline-block;
	border: 3px solid white;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.22), 
				inset 0 0 14px rgba(0, 0, 0, 0.75);
}
.comm a{
	display: block;	
	margin: 3px;
}
.comm b{
	display: block;
	margin: auto;
	width: 36px;
	height: 18px;
	color: #5b833d;
	font-size: 12px;
	background: #E6C991;
	line-height: 18px;
	text-decoration: underline;
}
.blog_vk p{
	line-height: 20px;	
}
.blog_vk p img{
	vertical-align: middle;	
	margin-top: -2px;
}
.b_vk,.yt_ch{
	padding: 0 24px;
	margin-top: 15px;
}
.channel{
	width: 242px;
	height: 200px;
	background: url(/img/channel.png) no-repeat;
	margin-top: 10px;
}
.channel p{
	margin: 0;	
}
.channel p img{
	vertical-align: middle;	
	margin-top: -5px;
}
/*--------------------- Blog page ---------------------*/
.blog_entry{
	padding-top: 33px;
	padding-bottom: 30px;
}
.b_title{
	color: #4a342f;
	font-size: 22px;
	font-weight: 700;
	line-height: 28px;	
	text-decoration: none;
}
.b_title:hover{
	text-decoration: underline;	
}
.b_sub{
	position: relative;
	z-index: 6;
	overflow: hidden;
	color: #97817c;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 11px;
}
.b_sub a{
	color: #5b833d;	
}
.b_author{
	float: left;
}
.b_rubric{
	float: right;	
}
.b_caption{
	width: 317px;
	height: 53px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(/img/b_cp.png);
}
.b_caption img{
	width: 36px;
	margin-left: 30px;
	margin-top: 7px;
	float: left;
}
.b_caption div{
	float: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin-left: 10px;
	margin-top: 13px;
}
.b_caption span{
	float: left;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	color: rgba(15, 9, 8, 0.76);
	font-size: 13px;
	font-style: italic;
	line-height: 18px;
	margin-left: 90px;
}
.b_descr{
	position: relative;
	color: black;	
	z-index: 6;
	margin-top: 20px;
	padding: 0 4px;
	padding-bottom: 45px;
	background: url(/img/descr_b.png) no-repeat bottom center;
	line-height: 18px;	
}
.b_detail{
	overflow: hidden;
}
.b_comm{
	float: left;
	color: #97817c;
	font-size: 12px;
	line-height: 32px;
}
.b_comm a{
	color: #5b833d;
	font-weight: bold;
	font-size: 14px;
}
.b_butt{
	float: right;	
}
.b_butt a{
	float: left;	
}
.add_comm{
	width: 186px;
	height: 34px;
	background: url(/img/add.png) no-repeat;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	color: #2d241d;
	font-weight: 700;
	text-decoration: none;
	margin-right: 5px;
}
.b_butt .more{
	margin: 0;	
}
.pager{
	margin: 22px;
}
.pager a{
	display: inline-block;
	color: #2d241d;
	text-decoration: none;
	padding: 0 6.07px;
}
.pager a:hover{
	text-decoration: underline;	
}
.pager .active{
	font-weight: bold;
	color: #5b833d;
}
.p_prev,.p_next{
	width: 88px;
	height: 34px;
	line-height: 30px;
	background: url(/img/pager.png) no-repeat;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	color: #2d241d;
	font-weight: 700;
	padding: 0;
}
/*--------------------- Entry page ---------------------*/
.in_entry .banner2{
	margin: 13px auto;
}
.quote{
	width: 515px;
	height: 154px;
	margin: 13px auto;
	background: url(/img/quote.png) no-repeat;
	padding: 25px 0;
	padding-left: 54px;
	padding-right: 20px;
	font-style: italic;
}
.b_descr ol,.b_descr ul{
	list-style: none;
	counter-reset: li;
	padding-left: 18px;
}
.b_descr li{
	position: relative;
	padding-left: 35px;
	min-height: 29px;
	padding-top: 5px;
	margin-bottom: 18px;
}
.b_descr ul li{
	padding-top: 3px;
	min-height: 24px;
}
.b_descr ol li:before,.b_descr ul li:before{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	counter-increment: li;
	content: counter(li);
	width: 29px;
	height: 29px;
	background: url(/img/num_item.png) no-repeat;
	line-height: 29px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.65);
	color: #f1e4ca;
	font-size: 12px;
	font-weight: 700;
}
.b_descr ul li:before{
	content: '';
	width: 24px;
	height: 24px;
	background: url(/img/item_big.png) no-repeat;
}
.b_descr table{
	width: 100%;	
	border-spacing: 0;
	background-color: #f3f1eb;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
	margin-top: 40px;
	margin-bottom: 50px;
}
.b_descr table tr{
	height: 34px;
}
.b_descr thead{
	background: #B89F75;	
}
.b_descr thead th:first-child{
	border-radius: 2px 0 0 0;	
}
.b_descr thead th:last-child{
	border-radius: 0 2px 0 0;	
}
.b_descr thead th:nth-child(2){
	background: #856336;	
}
.b_descr tbody tr:nth-child(even){
	 background: #E6DFD1;
}
.b_descr tbody td:nth-child(2){
	background: #E8E4D9;	
}
.b_descr tbody tr:nth-child(even) td:nth-child(2){
	background: #CFC3AB;
}
.b_descr tbody tr:last-child td:first-child{
	border-radius: 0 0 0 2px;	
}
.b_descr tbody tr:last-child td:last-child{
	border-radius: 0 0 2px 0;	
}
.share{
	margin-bottom: 20px;	
}
.share p{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #3b301c;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;	
	margin-bottom: 5px;
}
.pluso-wrap a:first-child{
	margin: 0 !important;	
}
.in_entry .email{
	margin-top: 0;
}
.in_entry .latest_rec{
	margin-top: 8px;
}
.entry_comm{
	margin: 0 23px;
	margin-top: 30px;
}
.entry_comm p{
	
}
.e_comm{
	background: #F2F2F2;	
	margin-bottom: 9px;
}
.e_some{
	padding: 15px 18px;
	color: #343434;
	line-height: 19px;
}
.e_ufo{
	float: left;	
	margin-right: 13px;
}
.e_some img{
	display: block;
	width: 54px;
	border: 3px solid white;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4), 
				inset 0 0 14px rgba(0, 0, 0, 0.75);
	margin: auto;
}
.e_some a{
	display: block;	
	color: #5b833d;
	font-size: 12px;
	font-weight: 700;
	margin-top: 4px;
	text-decoration: none;
}
.e_some a:hover{
	text-decoration: underline;	
}
.e_det{
	height: 32px;
	line-height: 32px;
	padding: 0 13px;
	background: url(/img/det.jpg) repeat-x;
	overflow: hidden;
	font-size: 12px;
}
.e_det img{
	vertical-align: middle;	
	margin-top: -2px;
}
.e_date{
	float: left;
	color: rgba(59, 48, 28, 0.66);
}
.e_butt{
	float: right;	
	color: #5b833d;
	font-weight: 700;	
}
.e_butt a{
	color: #5b833d;
	text-decoration: none;
}
.e_butt a:hover{
	text-decoration: underline;	
}
.e_answ{
	margin-left: 27px;	
}
.comm_form{
	margin-top: 30px;	
	margin-bottom: 30px;
}
.comm_form form{
	overflow: hidden;	
}
.comm_form textarea{
	width: 100%;
	height: 78px;
	background-color: #fff6e6;
	border-radius: 2px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33), 
				0 0 4px rgba(255, 255, 255, 0.75);
	resize: vertical;
	padding: 10px;
	display: block;
}
.inp_b{
	float: left;	
}
.inp_b input{
	background-color: #fff6e6;
	border-radius: 2px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33), 0 0 4px rgba(255, 255, 255, 0.75);
	height: 32px;
	padding: 0 10px;
	display: block;
	margin-top: 7px;
}
.smile_b{
	width: 350px;
	height: 109px;
	float: right;
	margin-top: 8px;
}
.smile_b input[type="checkbox"] {
    display: none;
}
.smile_b label{
	cursor: pointer;
	color: #221f1b;
	font-style: italic;
	line-height: 39px;
}
.smile_b label:before{
	content: ' ';
	display: inline-block;
	width: 21px;
	height: 21px;
	line-height: 22px;
	text-align: center;
	background-color: #fff6e6;
	border-radius: 2px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33), 0 0 4px rgba(255, 255, 255, 0.75);
	margin-bottom: -4px;
	margin-right: 5px;
}
.smile_b input[type="checkbox"]:checked + label:before {
    content: '✖';
	font-style: normal;
}
.comm_form input[type="button"]{
	float: right;
	width: 220px;
	height: 37px;
	border: 0;
	background: url(/img/send_comm.png) no-repeat;
	color: white;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
	margin-top: 8px;
	margin-right: 25px;
}

/*--------------------- Containers end ---------------------*/


/*--------------------- Footer start ---------------------*/
.footer {
	position: relative;
	width: 100%;
	height: 67px;
	background: url(/img/foot_bg.jpg);
	line-height: 55px;
	overflow: hidden;
}
.footer div{
	float: left;
	margin-top: 12px;
}
.footer img{
	vertical-align: middle;
	margin-top: -2px;
}
.foot_title {
	float: left;
	margin-left: 12px;
	color: white;
	font-size: 16px;
	font-weight: 700;
}
.foot_title img{
	width: 36px;
	margin-right: 10px;
}
.copy{
	overflow: hidden;
	text-align: center;
	color: #b9a694;
	font-size: 13px;
	margin-left: 70px;
}
.counters{
	float: right !important;	
	margin-right: 24px;
}
/*--------------------- Footer end ---------------------*/
.up{
	position: fixed;
	bottom: 20px;
	right:10px;
	width: 55px;
	height: 75px;
	background: url(/img/up.png) no-repeat;
	cursor: pointer;
}